body, 
html, 
*
{
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(123, 177, 210);
}
.pokemon{
    height: 50vh;
    width: 23%;
    background-color: rgb(177, 215, 239);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 2.5rem 0;
    border-radius: 1rem;
    border: 1.5rem solid rgba(117, 190, 203, 0.6);
}
.pokemon-img{
    width: 100%;
}
.pokemon-title{
    font-size: 2rem;
    color: rgb(26, 131, 196)
}
.layout{
    display: flex;
    flex-wrap: wrap;
    width: 92vw;
    margin: 1rem auto;
    align-items: center;    
    justify-content: space-around;
}

.pokemon-title-heading{
    color: rgb(123, 177, 210);
    background-color: rgb(63, 147, 199);
    text-align: center;
    font-family: 'Hind', sans-serif;
    font-size: 5rem;
    margin: 3rem 45rem;
    border-radius: 1rem;
}
